.education__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}
.education__img {
  text-align: center;
}

.education__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
  text-align: left;
}

.education__details h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.education__details p {
  font-size: 19px;
}
.education__details {
  width: 400px;
}
.education-btn {
  padding: 12px;
  font-size: 16px;
  margin-top: 10px;
  background: #1c1d1f;
  color: white;
  border: none;
  font-weight: 700;
}
.education-btn:hover {
  background: black;
}
